.text-informa {
  color: #848484;
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 1em;
  margin-top: 0px;
  border-bottom: 1px solid rgba(0,0,0,.4);
}

.text-ti {
  color: #ad0606;
  font-size: 2em;
  text-align: center;
}

.form-decoration {
	border: 1px solid rgba(0,0,0,.2);
}


.verificar-cpf {
	margin-top: 1em;
}

